<style>
    .paypage_footer{
        color:#4A90E2;
        font-size:14px;
        margin-top:97px;
        font-weight:500;
        width:387px;
    }
    .paypage_footer .fa{
        font-size:18px;
        margin-right:3px;
    }
    .faq_container{
        padding:0;
        width:1170px;
        height:1560px;
        box-shadow:0px 2px 4px #A0A8BD; 
    }
    .faq_box{
        width:940px;
        height:48px;
        
    }
    all-to-none{
        padding:0;
        margin:0;
    }
    .signout a{
        color:rgb(74,144,226);
    }
    .signUpBtn > span > a{
        color:rgb(74,144,226);
    }
    .sell_car_container{
        height:650px;
        margin-top:30px;
    }
    header{
        background-color: rgb(74,144,226);
    }
    .nav_title, .nav_item > a > div{
        color:white;
    }
    .signInBtn{
        color:white;
    }
    .signUpBtn{
        color:rgb(74,144,226);
        background-color:white;
    }
    .faq_box{
       font-size:30px;
       font-weight:500;
       color:#3A3D42;
    }

    .buyer_btn{
        width:200px;
        height:48px;
        text-align:center;
        cursor:pointer;
        opacity:0.8;
    }
    .buyer_btn:hover{
        opacity:1;
    }
    .seller_btn{
        width:200px;
        height:48px;
        text-align:center;
        cursor:pointer;
        opacity:0.8;
    }
    .seller_btn:hover{
        opacity:1;
    }
    .faq_btn_actived{
        border-bottom:6px solid #4A90E2;
    }
    .faq_box{
        border-bottom:3px solid #E6E7EB;
    }
    .faq_content_container_title{
        font-size:24px;
        color:#4A90E2;
        line-height:26px;
        vertical-align:middle;
        margin-bottom:10px;
        
    }
    .faq_content_container_text{
        font-size:18px;
        color:#4A4E54;
        line-height:20px;
        vertical-align:middle;
        margin-bottom:25px;
    }
    .faq_content_container_ul{
        padding-left:100px;
        padding-top:47px;
    }
    .faq_content_container{
        height:auto;
    }
</style>
<div class='container faq_container'>
    <img class="col-xs-12 all-to-none" src='<%= asset_path "faq/faq_banner.jpg" %>' width='1170px' height="400px;" style="margin-top:50px; margin-bottom:58px;">
    <div class="col-xs-12 faq_nav_container" align="center">
        <div class="faq_box">
            <div class="col-xs-6" align="right" style="padding-right:33.5px; position: relative;top: 3px;">
                <div class="buyer_btn faq_btn_actived">
                    For Buyer
                </div>
            </div>
            <div class="col-xs-6" align="left" style="padding-left:33.5px; position: relative;top: 3px;">
                <div class="seller_btn">
                    For Seller
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 faq_content_container faq_content_container_0">
        <ul class="faq_content_container_ul">
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    1. Do I need coverage in order to test drive a car?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    No, as long as you have a driver license, you could ask for test drive
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    2. How many cars am I allowed to test drive?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    5 free test drive for each driver license, we would charge $50 for each extra test drive
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    3. Can I trade in my car for one of the Tripalink cars?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    We don't have this service currently.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    4. Will I be provided car facts and history?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    Yes, Tripalink offer clear information about vehicle and the price.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    5. Where is Tripalink serviced?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    Currently, our service covers Los Angeles County, California.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    6. How far does Tripalink travel for customers?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    25 miles. Extra fee would be charged for beyond this limits.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    7. Will the seller be present at any point?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    No, the seller won’t meet with buyer, and there is a chat box in each car page for buyer to contact with seller for personal interest.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    8. How much does Tripalink charge?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    5% commission of the sell price.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    9. Would Tripalink deliver the car to me?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    Yes, we would have seller cleaned the car and our inspectors would deliver it to you.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    10. How can I get a driver's license
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    You can apply in from CA DMV office, click <a href="http://www.tripalink.com/driver_license/"><span style="color:blue;">here</span></a> to take online driver's license permit practice tests 
                </span>
            </li>
        </ul>    

    </div>
    <div class="col-xs-12 faq_content_container faq_content_container_1" style="display:none;">
        <ul class="faq_content_container_ul">
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    1. What is the qualifications for selling the car through Tripalink?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    Tripalink accepts cars 10 years old or less OR 100,000 miles and under. For the cars 6 years old or less we offer our buyers a 30 days or 1000 mile warranty. Cars with branded titles are not accepted.                
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    2. How do I sell a car through Tripalink?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    Tripalink will appraise the seller's car through the Tripalink website, and give the seller a general market price range to choose from. If the seller approves the prices, they will then request an inspection through the autogenius. Within a 2 day grace period, Tripalink will have a final price range for the sellers car based on the 158 inspection of the car. The seller will then sign a contract and leave the rest to Tripalink.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    3. What does it cost to sell my car through Tripalink?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    It is free comission for our customers to sell their car through Tripalink.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    4. Does the car have to be covered by insurance? Full coverage or liability?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    The sellers car has to be have liability insurance at the least. 
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    5. Does my car have to be detailed? Does Tripalink cover the detail cleaning of the car?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    When the deal is done, we ask seller to do necessary cleaning of the car before its delivery.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    6. Can I sell my car elsewhere during the Tripalink process?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    Yes, the seller can solicit their car elsewhere and keep using the car. But notify Tripalink immediately when the car is sold, or we will charge you when a buyer asks for test drive.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    7. Who are the Tripalink inspectors?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    They are professional mechanic experts with more than ten years experience.
                </span>
            </li>
            <li>
                <span class="faq_content_container_title col-xs-12 all-to-none">
                    8. Do I have to be present during the inspection process?
                </span>
                <span class="faq_content_container_text col-xs-12 all-to-none">
                    No, you can leave it to the inspector.
                </span>
            </li>
        </ul>    
    </div>
    <div class="col-xs-12" align='center'>
        <a href="tel:18666864246">
            <div class="paypage_footer">
                <i class="fa fa-phone-square"></i> Have Questions? Call us at:(866)686-4246
            </div>
        </a>
    </div>
</div>
<script>
    $('.buyer_btn').click(function(){
    
        $(this).addClass('faq_btn_actived');
        $('.seller_btn').removeClass('faq_btn_actived');
        $('.faq_content_container_1').fadeOut(function(){
            $('.faq_content_container_0').fadeIn();                                      
        })
        
    })
    $('.seller_btn').click(function(){
    
        $(this).addClass('faq_btn_actived');
        $('.buyer_btn').removeClass('faq_btn_actived');
        $('.faq_content_container_0').fadeOut(function(){
            $('.faq_content_container_1').fadeIn();                                      
        })
        
    })
  $(function() {
      $(window).scroll(function(){
          var scrollTop = $(window).scrollTop();
          if(scrollTop != 0) {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');  
          }
          else {
            $('header').css('background','rgba(74,144,226,0.8)');
            $('.nav_title, .nav_item > a > div, .signInBtn').css('color','white');  
            $('.signUpBtn').css('background-color','white');
            $('.signUpBtn, .signout a').css('color','rgba(74,144,226,1)');  
          }
      });
  });
</script> 