<div class="timeline-badge info"><i class="fa fa-flag"></i></div>
<div class="timeline-panel">
  <i class="glyphicon glyphicon-chevron-down timeline-panel-btn"></i>
  <div class="timeline-heading">
    <h4 class="timeline-title">Features</h4>
  </div>
  <div class="timeline-body">
    <div class="panel-body">
      <%= render partial: 'feature_picker' %>
    </div>
  </div>
</div>
