<div class="timeline-badge"><i class="fa fa-info"></i></div>
<div class="timeline-panel">
  <i class="glyphicon glyphicon-chevron-down timeline-panel-btn"></i>
  <div class="timeline-heading">
    <h4 class="timeline-title">Basic information</h4>
  </div>
  <div class="timeline-body">
    <div class="col-lg-6">
      <div class="form-group">
        <%= form.label :mileage %>
        <div class="input-group">
          <%= form.text_field :mileage, class: "form-control" %>
          <span class="input-group-addon"><i class="glyphicon glyphicon-ok "></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
